* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(74, 1, 97);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playerEcho {
    color: white;
    margin: 50px 0px;
}

#bigBox {
    width: 300px;
    height: 300px;
    margin: 30px 0;
    display: -ms-grid;
    -ms-grid-columns: repeat(3, 1fr);
    -ms-grid-rows: repeat(3, 1fr);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.box {
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    text-align: center;
    color: white;
    font-size: 70px;

}

.box:nth-child(3n){
    border-right: none;
}
.box:nth-child(n+7) {
    border-bottom: none;
}

.buttons a,#reSet {
    background-color: white;
    text-decoration: none;
    padding: 5px;
    border: 3px solid rgb(58, 11, 228);
    border-radius: 12px;
    font-weight: bold;
}
.selected {
    background-color: blueviolet;
}


/************************  *************************/

.gameScores {
    background: rgb(196, 67, 207);
}

.gameScores h2 {
    text-align: center;
    margin-top: 100px;
}
.gameScores table {
    width: 120px;
    height: 100px;
    margin: 50px auto;
    border: 1px solid black;
}

.gameScores td {
    background: rgb(255, 255, 255);
    border: 1px solid green;
}

.gameScores .backBTN {
    text-align: center;
}

.gameScores a {
    text-decoration: none;
    border: 1px solid black;
    color: white;
    background-color: green;
    margin: auto;
}


/***********************  *********************/

.gameStart {
    background: pink;
}

.gameMenu {
width: 350px;
border: 2px solid black;
border-radius: 15px;
margin: auto;
margin-top: 150px;
background: purple;
}
.gameMenu h1,h3 {
text-align: center;
margin-top: 15px;
color: white;
}

.buttons {
display: flex;
flex-direction: column;
text-align: center;
}
.start-btns {
margin-top: 15px;
}
.start {
padding: 5px 12px;
}

#p_vs_p {
margin-left: 35px;
}

.buttons a {
text-decoration: none;
width: 120px;
height: 30x;
border: 1px solid black;
color: white;
background-color: rgb(0, 19, 128);
margin: 15px auto;
}





