* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(196, 67, 207);
}

h2 {
    text-align: center;
    margin-top: 100px;
}
table {
    width: 120px;
    height: 100px;
    margin: 50px auto;
    border: 1px solid black;
}

td {
    background: rgb(255, 255, 255);
    border: 1px solid green;
}

.backBTN {
   
    text-align: center;
}

a {
    text-decoration: none;
    border: 1px solid black;
    color: white;
    background-color: green;
    margin: auto;
}
