* {
    padding: 0;
    margin: 0;
}

/****************** Menu ****************/

body {
    background: pink;
}

.gameMenu {
    width: 350px;
    border: 2px solid black;
    border-radius: 15px;
    margin: auto;
    margin-top: 150px;
    background: purple;
    display:block;
}
.gameMenu h1,h3 {
    text-align: center;
    margin-top: 15px;
    color: white;
}

.buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.start-btns {
    margin-top: 15px;
}
.start {
    padding: 5px 12px;
}

#p_vs_p {
    margin-left: 35px;
}

.buttons input {
    text-decoration: none;
    width: 120px;
    height: 30x;
    border: 1px solid black;
    color: white;
    background-color: rgb(0, 19, 128);
    margin: 15px auto;
}


/************************ Scores *************************/

.gameScores {
    display: none;
    background: rgb(196, 67, 207);
    padding: 197px 0;

}

.gameScores h2 {
    text-align: center;
    margin-top: 100px;
}
.gameScores table {
    width: 120px;
    height: 100px;
    margin: 50px auto;
    border: 1px solid black;
}

.gameScores td {
    background: rgb(255, 255, 255);
    border: 1px solid green;
    padding-left: 2px;
}

#p1-score,#p2-score {
    padding: 5px;
}

.gameScores .backBTN {
    text-align: center;
}

.gameScores input {
    text-decoration: none;
    border: 1px solid black;
    color: white;
    background-color: green;
    margin: auto;
}



/************************* Game ********************/
.gameStart {
    background: rgb(74, 1, 97);
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.gameStart .playerEcho {
    color: white;
    margin: 50px 0px;
}

.gameStart #bigBox {
    width: 300px;
    height: 300px;
    margin: 30px 0;
    display: -ms-grid;
    -ms-grid-columns: repeat(3, 1fr);
    -ms-grid-rows: repeat(3, 1fr);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.gameStart .box {
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    text-align: center;
    color: white;
    font-size: 70px;

}

.gameStart .box:nth-child(3n){
    border-right: none;
}
.gameStart .box:nth-child(n+7) {
    border-bottom: none;
}

.gameStart .buttons input,#reSet {
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 5px;
    border: 3px solid rgb(58, 11, 228);
    border-radius: 12px;
    font-weight: bold;
}
.gameStart .selected {
    background-color: blueviolet;
}



